//Patterns----------------------------------------------------------------------------{

@mixin pattern ($display, $pos, $height, $width, $bg) {
    display: $display;
    position: $pos;
    height: $height;
    width: $width;
    background: $bg;
}

@mixin text () {
    font-family: serif;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}

@mixin pos ($top, $left, $right, $bottom) {
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

//Patterns----------------------------------------------------------------------------}


//Mainpage----------------------------------------------------------------------------{

.cover {
    @include pattern(flex, fixed, 100%, 100%, #fff5dd);
    @include text();
    @include pos(0, 0, none, none);
    z-index: 3;
    transition: 0.1s;
}



.header {
    @include pattern(flex, fixed, 10%, 100%, #ebd294);
    @include pos(0, 0, none, none);
    z-index: 0;
}

.menu-button {
    @include pattern(flex, fixed, 10%, 25%, #fff5dd);
    @include text();
    @include pos(0, 0, none, none);
    z-index: 2;

}

.head {
    @include pattern(flex, fixed, 10%, 100%, #ebd294);
    @include text();
    @include pos(0, 0, none, none);
    z-index: 1;
}



.body {
    @include pattern(flex, fixed, 90%, 100%, #ebd294);
    @include pos(10%, 0, none, none);
    @include text();
}

.text-field {
    @include pattern(flex, fixed, 40%, 100%, #ebd294);
    @include pos(10%, 0, none, none);
    @include text();
}

.counter-field {
    @include pattern(flex, fixed, 10%, 100%, #ebd294);
    @include pos(50%, 0, none, none);
    @include text();
}

.task-field {
    @include pattern(flex, fixed, 40%, 100%, #ebd294);
    @include pos(60%, 0, none, none);
    @include text();
}

//Mainpage----------------------------------------------------------------------------}