//Patterns----------------------------------------------------------------------------{

@mixin pattern ($display, $height, $width, $bg) {
    display: $display;
    height: $height;
    width: $width;
    background: $bg;
}

@mixin text () {
    font-family: serif;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}



//Patterns----------------------------------------------------------------------------}

body {
    margin: 0;
}

//Mainpage----------------------------------------------------------------------------{

.cover {
    @include pattern(flex, 100%, 100%, #fff5dd);
    position: fixed;
    left: 0;
    top: 0;
    @include text();
    z-index: 3;
    transition: 0.1s;
}

//~~Header----------------------------------------------------------------------------{

.header {
    @include pattern(flex, 10%, 100%, #ebd294);
    align-items: center;
}

.head {
    @include pattern(flex, 10%, 100%, #ebd294);
    @include text();
}



//~~/~~Menu---------------------------------------------------------------------------{

.menu-button {
    @include pattern(flex, 100%, 25%, #fff5dd);
    @include text();
    transition: 0.5s;

}

.menu-list {
    @include pattern(none, 40%, 100%, transparent);
    flex-direction: column;
    text-decoration: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;

    & > li {
        @include pattern(flex, 25%, 100%, #ff1d1d);
        @include text();
        list-style-type: none;
        margin: -1;
    }
}


//~~/~~Menu---------------------------------------------------------------------------}



//~~Header----------------------------------------------------------------------------}



//~~Body------------------------------------------------------------------------------{

.body {
    @include pattern(flex, 90%, 100%, #ebd294);
    @include text();
    flex-direction: column;
}

.text-field {
    @include pattern(flex, 40%, 100%, #ebd294);
    @include text();
}

.counter-field {
    @include pattern(flex, 10%, 100%, #ebd294);
    @include text();
}

.task-field {
    @include pattern(flex, 40%, 100%, #ebd294);
    @include text();
}

//~~Body------------------------------------------------------------------------------}



//Mainpage----------------------------------------------------------------------------}