// Homepage

@mixin side-menu-part() {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: rgb(93, 196, 255);
    margin-bottom: 5px;
    text-align: center;
    font-size: xx-large;
    min-width: fit-content;
    justify-content: center;
    transition: 0.25s;

    &:hover {
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        color: white;
    }
}

@mixin buttons() {
    width: 270px;
    height: 74px;
    padding: 10px 20px;
    font-size: xx-large;
    border: 2px solid #444;
    background: #0c2436;
    background: linear-gradient(to top, #0c2436 0%,#84cafe 100%);
    transition: 0.25s;

    &:hover {
        background: #0c2436;
        background: linear-gradient(to right, #0c2436 0%,#84cafe 100%);
    }
}

$color: #0a699f;
$border: #111213 outset 4px;


body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #85cbff;

    &:hover {
        color: white;
        cursor: pointer;
    }
}
.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 0;
}

.side-menu {
    display: none;
    position: fixed;
    top: 0;
    left: -200;
    flex-direction: column;
    min-width: fit-content;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    z-index: 4;
    flex: 1;
    transition: 0.5s;
    background: #0c2436;
    background: linear-gradient(to bottom, #0c2436 0%,#84cafe 100%);

    & a {
        @include side-menu-part();
        height: 50px;
    }
}

.login-field {
    display: none;
}

.login input {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: rgb(93, 196, 255);
    margin-bottom: 10px;
    font-size: large;
    text-align: center;
    width: 199px;
    justify-content: center;
    height: 50px;
    transition: 0.25s;


    &:hover {
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        color: white;
    }
}

.log-buttons {
    margin: 0;
    padding: 0;
    text-align: start;
    
    & >* {
    height: 30px;
    min-width: 60px;
    width: fit-content;
    margin-top: 5px;
    margin-left: 5px;
    }
}


.side-menu-button2 {
    display: block;
    position: fixed;
    top: 50;
    left: 50;
    width: 100px;
    height: 50px;
    z-index: 5;
}

.side-menu-button1 {
    display: block;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    background-color: transparent;
    color: red;
    border: none;
    z-index: 5;

    &:hover {
        animation: buttonanimation 1s;
    }
}

.content {
    width: 100%;
    & p {
        font-size: xxx-large;
    }
}

.header {
    width: 100%;
    text-align: center;
    z-index: 2;
}

.main-page {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background-color: white;
}

.spacer {
    width: 100%;
    padding: 150px 0 150px 0;
    text-align: center;
    background-color: #0b2335;
    color: #85cbff;

    & p {
        font-size: xxx-large;
    }
}

.contacts{
    display: flex;
    flex-direction: column;
    bottom: 0;
    margin-top: 40px;
}

.statistic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 583px;
    height: fit-content;
    background-image: url(https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701515213.jpg);

    & > div {
        min-width: fit-content;
        width: 250px;
        min-height: fit-content;
        height: 250px;
        background: #0c2436;
        background: linear-gradient(to bottom, #0c2436 0%,#84cafe 100%);
        margin: 3%;
        border: $border;
        color: #85cbff;
        transition: 0.5s;

        & p {
            display: none;
        }
    }

    & > span {
        display: block;
        max-width: 100px;

    }
}

.news-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701515213.jpg);
    width: 100%;
    min-height: 600px;
    height: fit-content;
    color: #85cbff;
}

.news {
    border: $border;
    margin: 50px;
    background: #0c2436;
    background: linear-gradient(to bottom, #0c2436 0%,#84cafe 100%);
    width: 366px;
    height: 203px;
    transition: 0.5s;

    & p {
        display: none;
    }

    & img {
        display: none;
    }
}

@media only screen and (max-width: 2400px) {
  .news {
    flex: 1 1 21%;
  }
}

@media only screen and (max-width: 1100px) {
  .news {
    flex: 1 0 35%;
  }
}


.news-panel {
    margin: 50 100 100 50;
}

@keyframes buttonanimation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

//Register Pages----------------------------------------------------------------------------------------------------------------------------------------------
.register-header {
    background: #0c2436;
    width: 100%;
    height: 15%;
    position: fixed;
    
    & > div {
        background-color: #85cbff;
        height: 100%;
        width: 10%;
        color: white;
        font-size: 100;

        &:hover {
            color: red;
        }
    }
}

.register-body {
    background: linear-gradient(to right, #003366 0%, #00cc99 100%);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: fit-content;

    & > input {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        color: rgb(93, 196, 255);
        margin-bottom: 20px;
        text-align: center;
        font-size: x-large;
        min-width: fit-content;
        justify-content: center;
        height: 80px;

        &:hover {
            background-color: #85cbff;
            color: white;
        }
    }
}

.easter-egg {
    position: fixed;
    width: 44px;
    height: 44px;
    background-color: transparent;
    z-index: 10;
    left: 46.6%;
    top: 9.4%;
    color: transparent;
    border-radius: 50%;
}

//Request Page-----------------------------------------------------------------------------------------------
@mixin menu-bar ($direction, $top, $left, $width, $height) {
    position: fixed;
    top: $top;
    left: $left;
    width: $width;
    height: $height;
    background-color: transparent;
    z-index: 1;

    & > ul {
        display: flex;
        flex-direction: $direction;
    }
}

.bg {
    background: #0c2436;
    background: linear-gradient(to bottom, #0c2436 0%,#84cafe 100%);

    & > * {
        color: #84cafe;
    }
}

.face {
    width: 100%;
    height: 100%;
    display: flex;

    &  ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.programmer-bar {
    @include menu-bar(row, 0, 100px, 100%, 100px);

    & > ul > li {
        display: flex;
        width: 20%;
        height: 100px;

        & > ul {
            width: 100%;
        }
    }
}

.request-bar {
    @include menu-bar(column, 100px, 0, 100px, 100%);

    & > ul > li {
        display: flex;
        width: 100%;
        height: 268px;
    }
}

.programmers {
    flex-direction: column;
    & > ul {
        display: flex;
        flex-direction: column;

        & > li {
            display: none;
            width: 100%;
            height: 100px;
            position: relative;
        }
    }

    &:hover > ul {
        background: #0c2436;
        background: linear-gradient(to bottom, #0c2436 0%,#84cafe 100%);
        & > li {
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.25s;

            &:hover {
                color: white;
            }
        }
    }
}

.programmer-icon {
    width: 60%;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;

}

.programm-theme {
    flex-direction: column;
    & > ul {
        display: flex;
        flex-direction: column;

        & > li {
            display: none;
            width: 100%;
            height: 100px;
            position: relative;
        }
    }

    &:hover > ul {
        background: #0c2436;
        background: linear-gradient(to bottom, #0c2436 0%,#84cafe 100%);
        
        & > li {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.25s;

            &:hover {
                border-top: 5px solid white;
                border-bottom: 5px solid white;
                color: white;
            }
        }
    }
}

.search-field {
    width: 100%;
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-field {
    height: 40px;
    width: 80%;
}

.search-button {
    height: 40px;
    width: 40px;
}

.stat-button {
    width: 50%;
    min-height: 100%;
}

.status-indicator {
    position: fixed;
    top: 100;
    height: 30px;
    width: 100px;
    border-radius: 20%;
    display: inline-block;
    transition: 0.5s;

}

.list-face {
    width: 100%;    
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.25s;

    &:hover {
        color: white;
    }
}

.main-screen {
    position: fixed;
    top: 100px;
    left: 100px;
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: auto;
}

.all-requests {
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.request-table {
    margin-top: 150px;
    width: 80%;
    border: #85cbff solid 5px;
    background: #0c2436;
    background: linear-gradient(to bottom, #0c2436 0%,#84cafe 100%);
    height: fit-content;

    & thead > tr {
        font-size: xxx-large;
        color: #85cbff;
        height: 150px;
        
        & > th {
            border-left: black solid 3px;
            border-bottom: black solid 3px;
            margin: 0;
            padding: 0;
        }
    }

    & tbody > tr {
        font-size: x-large;
        color: white;
        height: 100px;
        & > td {
            text-align: center;
            border-left: black solid 1px;
            border-bottom: black solid 1px;
        }
    }
}

.requester {
    color: greenyellow;
    &:hover {
        border: greenyellow solid 2px;
    }
}

.createRequestBG {
    margin-top: 100px;
    width: 80%;
    max-height: 1130px;
    background: #0c2436;
    background: linear-gradient(to bottom, #0c2436 0%,#84cafe 100%);
}

.createRequest {
    max-width: 100%;
    height: 930px;
    max-height: 930px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: xx-large;

    & > * {
        margin-bottom: 20px;
    }

    & > input[type="text"] {
        width: 300px;
        height: 50px
    }

    & > input[type="radio"] {
        position: fixed;
        width: 0;
        opacity: 0;
    }

    & > input[type="submit"] {
        @include buttons();
        color: #85cbff;
    }

    & > input[type="radio"]:checked + .radio-label  {
        background: #0c2436;
        background: linear-gradient(to right, #0c2436 0%,#4c4 100%);
        border-color: #4c4;
    }
}

.radio-label {
    display: inline-block;
    @include buttons();
}

.colorPickerWindow {
    display: none;
    flex-direction: column;
    width: 80%;
    height: 80%;   
}

.color-preview {
    display: flex;
    flex-direction: row;

    & > div {
        border-radius: 50%;
        border: 1px black solid;
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px;

        & > label {
            color: white !important;
        }
    }
}

.color-picker {
    display: flex;
    flex-direction: column;

    & > input {
        width: 255px;
        height: 50px;
    }
}

.color-field {
    height: 200px;
    width: 300px;
}

.edit-icon {
    position: fixed;
    width:fit-content;
    height: fit-content;
    margin-top: -25;
    margin-left: 15;
}

.icon-img {
    position: relative;
    max-height: 50px;

    &:hover {
        background: lightskyblue;
    }
}